
*{
    box-sizing: border-box;
}
html{
    --offset: 40px; 
}
#hero{
    background: url(hero.jpg);
    background-position: center top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.middle{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 70px;
}
#header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
    font: inherit;
}
#logo-header{
    display: block;
    width: calc(100% / 3);
    height: 100px;
    color: var(--primary-color);
    margin: 0px;
    padding: 0px;
}
#logo{
    width: 100px;
    height: 100px;
}
.navigation{
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-start;

}
.navigation-item{
    padding: 0 10px;
    color: #57534E;
    font-size: 18px;
    margin-right: 10px;
}
.phone{
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--primary-color);
}
.phone-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
@media (max-width: 600px) {
    .middle{
        max-width: 600px;
    }
    #header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #logo-header{
        width: calc(100% / 2);
      /*   margin-right: calc(var(--offset) / 2); */
    }
    .navigation{
        width: calc(100% / 2 - var(--offset));
      /*   margin-right: calc(var(--offset) / 2); */
    }
    #hero{
        background-image: linear-gradient(to top, rgba(209, 210, 211, 0.781), 
        rgba(122, 115, 115, 0.3)), url(hero.jpg);     
    }
}
/*hero*/
.record-item1{
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 50%;
}
.record-item2{
    font-size: 20px;
    margin-bottom: 50px;
    width: 40%;
}
.button-large{
    width: calc(100% / 3);
    height: 60px;
    color: white;
    background-color: var(--secondary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    border-color: var(--secondary-color);
    box-shadow: 1px 1px 4px #d6d3d1
    
}
.button-large:hover{
    background-color: #ea580c;
    border-color: #ea580c;
    cursor: pointer;
}
.section-title{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
:root {
    --primary-color: #1C1917;
    --secondary-color: #f97316;
    --third-color: #FFEDD5;
    --forth-color: #FAFAF9;
}
@media (max-width: 600px) {
    .button-large{
        width: calc(100% / 1.5);
    }
}
/*2 секция*/
.benefits{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.benefit{
    border-radius: 10px;
    padding: calc(var(--offset) / 2);
    margin: calc(var(--offset) / 2);
    background-color: #F5F5F4;
    width: calc(100% / 3 - var(--offset));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    
}
.benefit-title{
    font-size: 18px;
    margin-top: 10px;
}
.benefit-content{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #57534E;
    text-align: center;
}
.benefit-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    background-color: #F97316;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #d6d3d1;
}

.about-us{
    display: flex;
    margin-top: 50px;
}
.about-us-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-us-text{
    margin-top: 20px;
    line-height: 20px;
    color: #44403C;
}
.about-us-image{
    width: calc(100% / 2);
    margin-left: 20px;
}
@media (max-width: 600px) {
    .benefits{
        max-width: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 4); */
    }
    .benefit {
        width: calc(100% / 1);
    }
    .about-us{
        max-width: 600px;
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 4); */
        margin-top: calc(var(--offset) / 4);
    }
    .about-us-title{
        text-align: center;
    }
    .about-us-text{
/*         margin-left: calc(var(--offset) / 4);
        margin-right: var(--offset); */
        text-align: justify;
    }
    .about-us-image{
        width: calc(100% / 1.1);
}
}
/*третья секция*/
.section_orange{
    background-color: var(--third-color);
    margin-top: 50px;
    justify-content: center;
}
.section-subtitle{
    color: #57534E;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.subscribe-form{
    margin: 70px auto;
    display: flex;
    justify-content: center;
}
.subscribe-form-input{
    width: calc(100% / 3);
    height: 50px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    padding-left: 5px;
    margin-right: 10px;
}
@media (max-width: 600px) {
    .section-title{
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 4); */
    }
    .section-subtitle{
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 4); */
    }
    .subscribe-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .subscribe-form-input{
        width: calc(100% / 1);
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 4); */
        margin-bottom: calc(var(--offset) / 2);
    }
}
/*четвертая секция*/
.section_grey{
    background-color: var(--forth-color);
    height: max-content;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.review{
    border-bottom: 1px solid #D6D3D1;
    padding: 30px 0;
    width: calc(100% / 1.7);
}
.review-title{
    margin-bottom: 10px;
    font-size: 18px;
}
.review-text{
    color: #44403C;
    line-height: 20px;
    font-weight: 300;
}
@media (max-width: 600px) {
    .reviews{
        max-width: 600px;
/*         margin-right: var(--offset);
        margin-left: calc(var(--offset) / 2); */
    }
    .review{
        width: calc(100% / 1.1);
    }
}
/*пятая секция, смахивающая на вторую*/
.rate{
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;

}
.rate-detail{
    border: 1px solid #d6d3d1;
    border-radius: 10px;
    padding: 20px;
    margin: 16px;
    width: calc(100% / 3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
        
}
.rate-title{
    font-size: 18px;
    padding-top: 10px;
    color: #F97316;

}
.rate-text{
    font-weight: 700;
    font-size: 22px;
    padding-top: 10px;
}
.check{
    flex-grow: 1;
    margin-top: 20px;
    display: flex;
    
}
.image-check{
    width: 20px;
    height: 20px;
    color: #65A30D;
    margin-right: 5px;
}
.rate-button{
    background-color: #FFEDD5;
    border-radius: 8px;
    width: 100%;
    color: #f97316;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}
.rate-button:hover{
    background-color: #fed7aa;
    border-color: #fed7aa;
    cursor: pointer;
}
@media (max-width: 600px) {
    .rate{
        flex-wrap: wrap;
      /*   margin-right: var(--offset);
        margin-left: calc(var(--offset) / 2); */
    }
    .rate-detail{
        width: calc(100% / 1);
    }
}
#footer{
    background-color: #E7E5E4;
    height: 150px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #78716C;
}
.social-icon{
    display: flex;
    height: 100%;
    width: calc(100% / 9);
    justify-content: space-between;
    color: black;
}
.logo{
    font-size: 30px;
    color: #78716c;

}
.logo:hover{
    color: #1c1917;
    cursor: pointer;
}
@media (max-width: 600px) {
    .footer-content{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .social-icon{
        margin: calc(var(--offset) / 2);
        align-items: space-between;
        width: calc(100% / 5);
    }
}